In [1]:
import os
import csv
import pandas as pd
import collections as ct
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pygame_path = 'C:/Users/bassa/projects/PyGame/Resources/'
pygame_csv_file = 'purchase_data.csv'
pygame_csv_filepath = os.path.join( pygame_path, pygame_csv_file)
print(pygame_csv_filepath)

C:/Users/bassa/projects/PyGame/Resources/purchase_data.csv

In [3]:
pygame_df = pd.read_csv(pygame_csv_filepath)

In [4]:
pygame_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
count_list = pygame_df["SN"].value_counts()

count_list.head()

Lisosia93      5
Iral74         4
Idastidru52    4
Hada39         3
Iri67          3
Name: SN, dtype: int64

In [6]:
print("Total Number of Users: ")

total_players = pygame_df['SN'].nunique()

print(total_players)

Total Number of Users:
576

In [7]:
unique_items = pygame_df['Item Name'].nunique()

unique_items

179

In [8]:
purchase_price = pygame_df['Price'].mean()

print(purchase_price)

3.050987179487176

In [9]:
print("Total number of purchases: ")

pygame_df['Item Name'].count()

Total number of purchases:

780

In [10]:
print("Total Revenue: ")

total_revenue = pygame_df['Price'].sum()

print(total_revenue)

Total Revenue:
2379.77

In [11]:
gender_count = pygame_df.groupby(['Gender']).count() 

gender_count.head()

del gender_count['Price'] 

del gender_count['Item Name']

del gender_count['Item ID']

del gender_count['Age']

del gender_count['SN']

gender_count.head()

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [12]:
male_percentage = 484/576*100

In [13]:
female_percentage = 81/576*100

In [14]:
other_percentage = 11/576*100

In [15]:
gender_dict = [{"Percentage": male_percentage, "Gender ": "Male"}, 
               {"Percentage": female_percentage, "Gender ": "Female"},
               {"Percentage": other_percentage, "Gender ": "Other"},
              ]

df_gender = pd.DataFrame(gender_dict)
df_gender

   Percentage Gender
0   84.027778    Male
1   14.062500  Female
2    1.909722   Other

In [16]:
gender_dict = [{"Number of Unique Items": unique_items, "Average Purchase Price ": "$" + str(purchase_price), "Total Revenue ": "$" + str(total_revenue) }]

df_gender = pd.DataFrame(gender_dict)
df_gender

   Number of Unique Items Average Purchase Price  Total Revenue
0                     179      $3.050987179487176       $2379.77

In [17]:
#creating bins

bins = [0, 10, 14, 19, 24, 29, 34, 39, 40]

#creating labels

group_names = ['<10', '10-14','15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [18]:
pygame_df["Age Ranges"] = pd.cut(pygame_df['Age'], bins, labels=group_names)


pygame_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [19]:
tender_count = pygame_df.groupby(["Age Ranges"]).count()

tender_count.head()

del tender_count['Price'] 

del tender_count['SN'] 

del tender_count['Purchase ID'] 

del tender_count['Item ID'] 

del tender_count['Item Name'] 

del tender_count['Gender'] 








tender_count.head()

            Age
Age Ranges
<10          32
10-14        19
15-19       136
20-24       365
25-29       101

In [20]:
tender_count.rename(columns = {'Age':'Purchase Count'}, inplace = True)

In [21]:
tender_count.head()

            Purchase Count
Age Ranges
<10                     32
10-14                   19
15-19                  136
20-24                  365
25-29                  101

In [22]:


print(tender_count.to_string())

            Purchase Count
Age Ranges
<10                     32
10-14                   19
15-19                  136
20-24                  365
25-29                  101
30-34                   73
35-39                   41
40+                      6

In [23]:
#lets try to get the average purchase by gender

In [24]:
tender_count.mean()

Purchase Count    96.625
dtype: float64

In [25]:
pygame_df["Price"].mean()

3.050987179487176

In [26]:
three_count = pygame_df.groupby(['Price', 'Gender']).size().reset_index()

In [27]:
three_count.head()

   Price  Gender  0
0   1.00  Female  1
1   1.00    Male  1
2   1.01  Female  1
3   1.01    Male  4
4   1.02  Female  3

In [28]:
three_count.mean()

Price    3.075787
0        3.319149
dtype: float64

In [29]:
sumcountgender = three_count.sum()

In [30]:
sumcountgender.head()

Price                                                722.81
Gender    FemaleMaleFemaleMaleFemaleMaleMaleMaleFemaleMa...
0                                                       780
dtype: object